<nav class="navbar navbar-white bg-transparent navbar-expand fixed-bottom">
  <ul class="navbar-nav nav-justified w-100">
    <li class="nav-item" role="button" routerLink="home">
      <span class="material-icons">home</span>
      <a class="nav-link">Home</a>
    </li>
    <li class="nav-item" role="button" routerLink="community">
      <span class="material-icons">group</span>
      <a class="nav-link">Community</a>
    </li>
    <li class="nav-item" role="button" routerLink="activity">
      <span class="material-icons">bolt</span>
      <a class="nav-link">Activity</a>
    </li>
    <li class="nav-item" role="button" routerLink="progress">
      <span class="material-icons">signal_cellular_alt</span>
      <a class="nav-link">Progress</a>
    </li>
    <li class="nav-item" role="button" routerLink="profile">
      <span class="material-icons">account_circle</span>
      <a class="nav-link">Account</a>
    </li>
  </ul>
</nav>